.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
}


table, th, td {
    border:1px solid black;
    font-size: 2rem;
    text-align: start;
   
}

.new{
    min-height: 75vh;
}

.reset-qa>*{
    border: none;
}

.input-qa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
}

.title{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w100{
    width: 100%;
}

.flex{
    display: flex;
}

.file-button-container{
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}

.file-button{
    width: auto;
    background-color: #212529; 
    padding: 1rem;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    position: relative;
}

.file-button:hover{
    transform: scale(1.1);
}

.small{
    text-align: center;
    font-size: 0.7rem;
    position: absolute;
    top: 90%;
    color: red;
    font-weight: bold;
}


.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #212529;
    border-radius: 15px;
}

.logo-image{
    width: 35px;
    height: 35px;
    transition: transform .7s ease-in-out;
    
}

.logo-image:hover{
    transform: rotatey(180deg);
}

.logoName{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.date-top{
    background-color: #212529;
    color: white;
    padding: 2rem;
    border-radius: 15px;
}

.site{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
}

.content{
    height: 80vh;
}